<!--SIDEBAR-->
<ul class="sidenav sidenav-fixed a-sidenav">
  <h4>Newborn</h4>

  <li
          routerLinkActive="active"
          *ngFor="let link of links"
          class="bold"
  >
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">
      {{link.name}}
    </a>
  </li>

  <li class="bold last">
    <a
            href="#"
            class="waves-effect waves-orange"
            (click)="logout($event)"
    >
      Выйти
    </a>
  </li>
</ul>

<!--CONTENT-->
<main class="content">
  <router-outlet></router-outlet>
</main>

<!--Floating button-->
<div class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating green"><i class="material-icons">assignment</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">list</i></a></li>
  </ul>
</div>