<form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="card"
>
    <div class="card-content">
        <span class="card-title">Войти в систему</span>

        <div class="input-field">
            <input
                    formControlName="email"
                    id="email"
                    type="email"
                    [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
            >
            <label for="email">Email:</label>
            <span
                    *ngIf="form.get('email').invalid && form.get('email').touched"
                    class="helper-text red-text"
            >
                <span *ngIf="form.get('email').errors['required']"
                > Введите, пожалуйста, Ваш E-mail адрес
                </span>

                <span *ngIf="form.get('email').errors['email']"
                > Введите, пожалуйста, правильный E-mail адрес
                </span>
            </span>
        </div>

        <div class="input-field">
            <input
                    formControlName="password"
                    id="password"
                    type="password"
                    [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
            >
            <label for="password">Пароль:</label>
            <span
                    *ngIf="form.get('password').invalid && form.get('password').touched"
                    class="helper-text red-text"
            >
                <span *ngIf="form.get('password').errors['required']"
                >Введите, пожалуйста, Ваш пароль
                </span>

                <span
                        *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']"
                >Введите, пожалуйста, пароль длинее {{form.get('password').errors['minlength']['requiredLength']}} символов<br>
                    Ваш пароль из {{form.get('password').errors['minlength']['actualLength']}} символов
                </span>
            </span>
        </div>
    </div>

    <div class="card-action">
        <button
                [disabled]="form.invalid"
                type="submit"
                class="modal-action btn waves-effect"
        >
            Войти
        </button>
    </div>
</form>